In [2]:
import win32com.client as win32
import pandas as pd

In [3]:
hwp = win32.gencache.EnsureDispatch("hwpframe.hwpobject")

In [4]:
hwp.XHwpWindows.Item(0).Visible = True #한글 파일 시각

In [6]:
hwp.Open("C:/Users/dlsgh/Downloads/학과심사_평가집계표_서식.hwp")

True

In [7]:
df = pd.read_excel(r"C:/Users/dlsgh/Downloads/학생명단.xlsx")

In [8]:
df

         수험번호            전형       학과                      성명
0   123400002    석사(Master)   국어국문학과        Zachary Santiago
1   123400012    석사(Master)   국어국문학과           Marcus Keller
2   123400022    석사(Master)   국어국문학과           Jared Roberts
3   123400032    석사(Master)   국어국문학과        Christine Hebert
4   123400042    석사(Master)   국어국문학과            Alex Salazar
..        ...           ...      ...                     ...
75  123400040    석사(Master)  프랑스어문학과         Amanda Marshall
76  123400050    석사(Master)  프랑스어문학과           Julia Aguilar
77  123400060    석사(Master)  프랑스어문학과  Mrs. Kendra Barron DVM
78  123400070  박사(Doctoral)  프랑스어문학과             Edward Ford
79  123400080  박사(Doctoral)  프랑스어문학과         Gabrielle Ochoa

[80 rows x 4 columns]

In [9]:
df[df["학과"] == "국어국문학과"]

        수험번호            전형      학과                  성명
0  123400002    석사(Master)  국어국문학과    Zachary Santiago
1  123400012    석사(Master)  국어국문학과       Marcus Keller
2  123400022    석사(Master)  국어국문학과       Jared Roberts
3  123400032    석사(Master)  국어국문학과    Christine Hebert
4  123400042    석사(Master)  국어국문학과        Alex Salazar
5  123400052    석사(Master)  국어국문학과           Janet Orr
6  123400062  박사(Doctoral)  국어국문학과        Holly Carter
7  123400072  박사(Doctoral)  국어국문학과  Christopher Powell

In [10]:
df[(df["학과"] == "국어국문학과") & (df["전형"] =="석사(Master)")]

        수험번호          전형      학과                성명
0  123400002  석사(Master)  국어국문학과  Zachary Santiago
1  123400012  석사(Master)  국어국문학과     Marcus Keller
2  123400022  석사(Master)  국어국문학과     Jared Roberts
3  123400032  석사(Master)  국어국문학과  Christine Hebert
4  123400042  석사(Master)  국어국문학과      Alex Salazar
5  123400052  석사(Master)  국어국문학과         Janet Orr

In [12]:
hwp.GetFieldText("수험번호1")

'11'

In [13]:
hwp.PutFieldText("수험번호1", "123400002")

In [14]:
df["학과"].nunique()

10

In [15]:
df["전형"].unique()

array(['석사(Master)', '박사(Doctoral)'], dtype=object)

In [40]:
hwp.HAction.Run("CopyPage")

True

In [41]:
for _ in range(19):
    hwp.HAction.Run("PastePage")

In [18]:
df_ = df[["학과","전형"]]

In [19]:
df_

         학과            전형
0    국어국문학과    석사(Master)
1    국어국문학과    석사(Master)
2    국어국문학과    석사(Master)
3    국어국문학과    석사(Master)
4    국어국문학과    석사(Master)
..      ...           ...
75  프랑스어문학과    석사(Master)
76  프랑스어문학과    석사(Master)
77  프랑스어문학과    석사(Master)
78  프랑스어문학과  박사(Doctoral)
79  프랑스어문학과  박사(Doctoral)

[80 rows x 2 columns]

In [34]:
df_ = df.groupby(["전형", "학과"]).size().reset_index().drop(0, axis=1)

In [35]:
for i in range(len(df_)):
    전형, 학과 = df_.iloc[i]
    print(전형, 학과)

박사(Doctoral) 국어국문학과
박사(Doctoral) 독일어문학과
박사(Doctoral) 러시아어문학과
박사(Doctoral) 문예창작과
박사(Doctoral) 스페인어문학과
박사(Doctoral) 언어학과
박사(Doctoral) 영미어문학과
박사(Doctoral) 일본어문학과
박사(Doctoral) 중국어문학과
박사(Doctoral) 프랑스어문학과
석사(Master) 국어국문학과
석사(Master) 독일어문학과
석사(Master) 러시아어문학과
석사(Master) 문예창작과
석사(Master) 스페인어문학과
석사(Master) 언어학과
석사(Master) 영미어문학과
석사(Master) 일본어문학과
석사(Master) 중국어문학과
석사(Master) 프랑스어문학과

In [37]:
df_.iloc[0]["학과"]
df_.iloc[0]["전형"]

'박사(Doctoral)'

In [39]:
hwp.PutFieldText("지원과정", "박사(Doctoral)")

In [43]:
for i in range(len(df_)):
    전형, 학과 = df_.iloc[i]
    hwp.PutFieldText(f"지원과정{{{{{i}}}}}", 전형)
    hwp.PutFieldText(f"전형{{{{{i}}}}}", 학과)